
<%- include("partials/header"); -%>

<div class="section" style="padding: 2rem; background-color: var(--ash-color); margin: 1rem;">
<div style=" padding: 0rem 1.5rem 0rem 0; justify-content: center; text-align: center;">
    <img src="/images/front page image/certificate of reg.jpg" alt="" style="border-radius: 100%; width: 200px;">

</div>

    <p>G. A. ENEH ENTERPRISE is a registered business under Nigeria corporate affair commission with Business Name Registration No. 3629666. We specializes on  different products and services relating to all kinds of car air conditioning (AC),
        we sell/install different catigories of car AC components i.e Brand New, Direct Belgium and Fairly Used components.
        <br>
        <h2>Our products are as follows</h2>
        <ul>
            <li>compressors</li>
            <li>Evaporators</li>
            <li>Condensers</li>
            <li>Vehicle Gas</li>
            <li>Vehicle Driers</li>
            <li>Vehicle Oil</li>
            <li>ETC.</li>
        </ul>
        <h2>Our services are also as follows</h2>
        <ul>
            <li>Compressor Repair/Installations</li>
            <li>Condenser Repair/Installations</li>
            <li>Evaporator Repair/Installatons</li>
            <li>Oil Port Servicing/Refill</li>
            <li>Gas Port Servicing/Refill</li>
            <li>Driers Servicing</li>
            <li>Dash Board Servicing</li>
            <li>ETC.</li>
        </ul>
    <h2>Free Estimates</h2>
    We offer free estimates on all installations and replacements and even provides financing options that will fit with your budget.
    <h2>Family Owned & Operated</h2>
    Family-Owned and operated since year 1980s, we continue to serve custormers in the best way possible. Exceeding your expectations is our goal!
    <h2>Trusted Technicians</h2>
    The specialists at G. A. Eneh Enterprise has a high set of standards ranging from background checks, factory trained etc. all has been tested over time by out customers.
    <h2>24/7 same Rate</h2>
    Your safety and comfort is our top priority. That's why our indoor comfort pros are available for emergency service 24/7 with no overtime rates!
    <h2>Surrounding Areas We Serve</h2>
    G. A. Eneh Enterprise is based in Enugu at no: 29 Neni street ogui Newlayout, but our products and services can be accessed all round south-east Nigeria.
    
    </p>

</div>











<%- include("partials/footer"); -%>