<%- include("partials/header"); -%>





    <!------------ first slider --------------------------------->
<!--     
    <div class="container-fluid p-0">
        <div class="site-slider">
            <div class="slider-one">
                <div class="slider-img">
                    <img src="/images/hd_img_1-removebg-preview.png" class="img-fluid p-0" alt="">
                </div>
                <div>
                    <img src="/images/hd car compressor.jpg" class="img-fluid p-0" alt="">
                </div>
                <div>
                    <img src="/images/images 17.jpg" class="img-fluid p-0" alt="">
                </div>
                <div>
                    <img src="/images/hd car compressor.jpg" class="img-fluid p-0" alt="">
                </div>
            </div>

            <div class="slider-btn">
                <span class="prev position-top "><i class="fa-solid fa-chevron-left"></i></span>
                <span class="next position-top right-0"><i class="fa-solid fa-chevron-right"></i></span>

            </div>


        </div>
    </div> -->
    <!---x------- first slider --------x----------------------->

        <!---------x--------------Site Title------------------x---------------->

        <!--------------------------- compressors --------------------------------------------->

        <section>
            <div class="compressors">
                <div class="container">
                    <div class="title1">
                        <div class="title">
                            <h1>WORK SAMPLE</h1>
                        </div>
                    </div>

                    <div class="owl-carousel owl-theme compressors-post">

                        <div class="compressors-content" data-aos="fade-right" data-aos-delay="200">

                            <div class="compressor-video">
                                <video width="320" height="240" controls>
                                    <source src="/video/BMXT4189.MP4" type="video/mp4">
                                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                                  Your browser does not support the video tag.
                                  </video>
                            </div>

                            <div class="compressors-title">
                                <h3>Compressors From China</h3>
                                <button class="btm btn-compressors">Explore</button>
                                <br>
                                <span>2 Minutes</span>
                            </div>


                        </div>
                        <div class="compressors-content" data-aos="fade-in" data-aos-delay="200">

                            <div class="compressor-video">
                                <video width="320" height="240" controls>
                                    <source src="/video/BWQE8183.MP4" type="video/mp4">
                                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                                  Your browser does not support the video tag.
                                  </video>
                            </div>


                            <div class="compressors-title">
                                <h3>Compressors From China</h3>
                                <button class="btm btn-compressors">Explore</button>
                                <br>
                                <span>2 Minutes</span>
                            </div>


                        </div>

                        <div class="compressors-content" data-aos="fade-left" data-aos-delay="200">

                              <div class="compressor-video">
                                <video width="320" height="240" controls>
                                    <source src="/video/HKXL8598.MP4" type="video/mp4">
                                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                                  Your browser does not support the video tag.
                                  </video>
                            </div>

                            <div class="compressors-title">
                                <h3>Compressors From China</h3>
                                <button class="btm btn-compressors">Explore</button>
                                <br>
                                <span>2 Minutes</span>
                            </div>


                        </div>

                        <div class="compressors-content" data-aos="fade-right" data-aos-delay="200">

                            <div class="compressor-video">
                                <video width="320" height="240" controls>
                                    <source src="/video/NTMR0295.MP4" type="video/mp4">
                                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                                  Your browser does not support the video tag.
                                  </video>
                            </div>

                            <div class="compressors-title">
                                <h3>Compressors From China</h3>
                                <button class="btm btn-compressors">Explore</button>
                                <br>
                                <span>2 Minutes</span>
                            </div>


                        </div>


                        <div class="compressors-content" data-aos="fade-in" data-aos-delay="200">

                            <div class="compressor-video">
                                <video width="320" height="240" controls>
                                    <source src="/video/IRTK4918.MP4" type="video/mp4">
                                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                                  Your browser does not support the video tag.
                                  </video>
                            </div>

                            <div class="compressors-title">
                                <h3>Compressors From China</h3>
                                <button class="btm btn-compressors">Explore</button>
                                <br>
                                <span>2 Minutes</span>
                            </div>


                        </div>

                        <div class="compressors-content" data-aos="fade-left" data-aos-delay="200">

                            <div class="compressor-video">
                                <video width="320" height="240" controls>
                                    <source src="/video/YIUT0573.MP4">
                                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                                  Your browser does not support the video tag.
                                  </video>
                            </div>

                            <div class="compressors-title">
                                <h3>Compressors From China</h3>
                                <button class="btm btn-compressors">Explore</button>
                                <br>
                                <span>2 Minutes</span>
                            </div>
                        </div>

                    </div>

                    <div class="owl-navigation">
                        <span class="owl-nav-prev"><i class="fa-solid fa-left-long"></i></span>
                        <span class="owl-nav-next"><i class="fa-solid fa-right-long"></i></span>
                    </div>

                </div>




            </div>




        </section>



        <!-----------------x--------------- compressor --------------------x------------------------->

        <!------------------------------------ P/S content---------------------------------------->

        <section class="container">

            <div class="ps-content">
                <div class="ps">
                    <div class="p-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="p-image" data-aos="fade-up">
                            <div>
                                <img class="img" src="images/hd_car_compressor-removebg-preview.png" alt="">
                            </div>
                        </div>
                        <div class="p-title">
                            <h2>Products</h2>
                            <ul class="services-list">

                                <li class="list-items" data-aos="fade-left" data-aos-delay="300">
                                    <button class="btm"> <a href="#">Compressors</a></button>
                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="400">
                                    <button class="btm"> <a href="#">Evaporators</a></button>

                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="500">
                                    <button class="btm"> <a href="#">Vehicle Gas</a></button>

                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="600">
                                    <button class="btm"> <a href="#">Vehicle Oil</a></button>

                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="700">
                                    <button class="btm"> <a href="#">Vehicle-Driers</a></button>

                                </li>
                            </ul>

                        </div>
                    </div>
                    <hr>
                    <div class="p-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="p-image">
                            <div>
                                <img class="img" src="images/hd.jpg.webp" alt="">
                            </div>
                        </div>
                        <div class="p-title">
                            <h2>Services</h2>
                            <ul class="services-list">

                                <li class="list-items" data-aos="fade-left" data-aos-delay="300">
                                    <button class="btm"> <a href="#">Compressor Repair/Installation</a></button>
                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="400">
                                    <button class="btm"> <a href="#">Condenser Repair/Installation</a></button>

                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="500">
                                    <button class="btm"> <a href="#">Evaporator Repair/Intallation</a></button>

                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="600">
                                    <button class="btm"> <a href="#">Oil Port Servicing/Refill</a></button>

                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="700">
                                    <button class="btm"> <a href="#">Gas port servicing/Refill</a></button>

                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="800">
                                    <button class="btm"><a href="#" class="btn">Driers servicing</a></button>
                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="800">
                                    <button class="btm"><a href="#" class="btn">Lossing Of Dash Board</a></button>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <hr>
                    <div class="p-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="p-image">
                            <div>
                                <img class="img" src="images/hd.jpg.webp" alt="">
                            </div>
                        </div>
                        <!-- <hr>
                    <div class="p-title1">
                        <h2>Patners</h2>
                        <h4>Just-teCH Company</h4>
                        <h4>Toyota plc</h4>
                        <h4>Total</h4>
                        <h4>Anamco</h4>
                    </div> -->
                    </div>
                </div>
                <aside class="side-bar">
                    <div class="category">
                        <h2 class="category">Category</h2>
                        <ul class="category-list">
                            <li class="list-items">

                                <div class="dropdown">
                                    <button class="btm"><a>Brand New</a></button>
                                    <div class="dropdown-content ">
                                       <a href="#" class="btm">Compressor</a>
                                       <a href="#" class="btm">Evaporator</a>
                                       <a href="#" class="btm">Condenser</a>
                                       <a href="#" class="btm">Vehicle-Gas</a>
                                       <a href="#" class="btm">Vehicle-Driers</a>
                                       <a href="#" class="btm">Vehicle-Oil </a>

                                    </div>
                                </div>

                            </li>
                            <li class="list-items">

                                <div class="dropdown">
                                    <button class="btm"><a>Direct Belgium</a></button>
                                    <div class="dropdown-content ">
                                       <a href="#" class="btm">Compressor</a>
                                       <a href="#" class="btm">Evaporator</a>
                                       <a href="#" class="btm">Condenser</a>
                                       <a href="#" class="btm">Vehicle-Gas</a>
                                       <a href="#" class="btm">Vehicle-Driers</a>
                                       <a href="#" class="btm">Vehicle-Oil </a>

                                    </div>
                                </div>

                            </li>
                            <li class="list-items">

                                <div class="dropdown">
                                    <button class="btm"><a>Fairly Used</a></button>
                                    <div class="dropdown-content">
                                        <a href="#" class="btm">Compressor</a>
                                        <a href="#" class="btm">Evaporator</a>
                                        <a href="#" class="btm">Condenser</a>
                                        <a href="#" class="btm">Vehicle-Gas</a>
                                        <a href="#" class="btm">Vehicle-Driers</a>
                                       <a href="#" class="btm">Vehicle-Oil </a>

                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <div class="our-mission">

                        <div class="p-content" data-aos="flip-up" data-aos-delay="300">
                            <div class="p-image">
                                <div>
                                    <img class="img" src="images/hd_car_compressor-removebg-preview.png" alt="">
                                </div>
                            </div>
                            <div class="p-title">
                                <h2>Our Mission</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorum, aliquid
                                    aperiam,
                                    blanditiis error distinctio placeat repudiandae cupiditate ipsam asperiores non hic
                                    eveniet?
                                    Consequuntur voluptatum nesciunt cupiditate omnis necessitatibus laudantium sed modi
                                    sequi nihil dolorum.
                                    Est quod cumque, culpa obcaecati excepturi facere doloremque.
                                    Ducimus, eos sint velit architecto quos ullam.</p>

                                <button class="btm p-btn">Read more &nbsp;<i
                                        class="fa-solid fa-arrow-right-long"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="our-vision">

                        <div class="p-content" data-aos="flip-up" data-aos-delay="400">
                            <div class="p-image">
                                <div>
                                    <img class="img" src="images/hd_car_compressor-removebg-preview.png" alt="">
                                </div>
                            </div>
                            <div class="p-title">
                                <h2>Our vision</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorum, aliquid
                                    aperiam,
                                    blanditiis error distinctio placeat repudiandae cupiditate ipsam asperiores non hic
                                    eveniet?
                                    Consequuntur voluptatum nesciunt cupiditate omnis necessitatibus laudantium sed modi
                                    sequi nihil dolorum.
                                    Est quod cumque, culpa obcaecati excepturi facere doloremque.
                                    Ducimus, eos sint velit architecto quos ullam.</p>

                                <button class="btm p-btn">Read more &nbsp;<i
                                        class="fa-solid fa-arrow-right-long"></i></button>
                            </div>
                        </div>
                    </div>

                </aside>
                <!-- <div class="pagination flex-row">
                <a ><i class="fa-solid fa-chevron-left"></i></a>
                <a href="#" class="pages">1</a>
                <a href="#" class="pages">2</a>
                <a href="#" class="pages">3</a>
                <a ><i class="fa-solid fa-chevron-right"></i></a>
            </div> -->
            </div>


        </section>



        <!------------------x------------------ ps content-------------x--------------------------->


    </main>

    <!-------x---------- Main site Section ---------------x------------------->

    <%- include("partials/footer"); -%>