<%- include("partials/header"); -%>




    <!---------x--------------Site Title------------------x---------------->

    <!--------------------------- compressors --------------------------------------------->

    <section>
        <div class="compressors">
            <div class="container">
                <div class="title1">
                    <div class="title">
                        <h1>WORK SAMPLE</h1>
                    </div>
                </div>

                <div class="owl-carousel owl-theme compressors-post">

                    <div class="compressors-content" data-aos="fade-right" data-aos-delay="200">

                        <div class="compressor-video">
                           <img src="/images/front page image/air-conditioning-repair-phoenix.jpg" alt="">
                        </div>

                      


                    </div>
                    <div class="compressors-content" data-aos="fade-in" data-aos-delay="200">

                        <div class="compressor-video">
                           <img src="/images/front page image/download.jpeg" alt="">
                        </div>


                       

                    </div>

                    <div class="compressors-content" data-aos="fade-left" data-aos-delay="200">

                        <div class="compressor-video">
                           <img src="/images/front page image/images (1).jpeg" alt="">
                        </div>

                       


                    </div>

                    <div class="compressors-content" data-aos="fade-right" data-aos-delay="200">

                        <div class="compressor-video">
                            <img src="/images/front page image/images (2).jpeg" alt="">
                        </div>

                        


                    </div>


                    <div class="compressors-content" data-aos="fade-in" data-aos-delay="200">

                        <div class="compressor-video">
                            <img src="/images/front page image/images.jpeg" alt="">
                        </div>

                     

                    </div>

                   

                </div>

                <div class="owl-navigation">
                    <span class="owl-nav-prev"><i class="fa-solid fa-left-long"></i></span>
                    <span class="owl-nav-next"><i class="fa-solid fa-right-long"></i></span>
                </div>

            </div>




        </div>




    </section>



    <!-----------------x--------------- compressor --------------------x------------------------->

    <!------------------------------------ P/S content---------------------------------------->

    <section class="containers" style="margin: 0;">

        <div class="ps-content">
            <div class="ps">
                <div class="p-content" data-aos="zoom-in" data-aos-delay="200">
                    <div class="p-image" data-aos="fade-up">
                        <div>
                            <img class="img" src="images/hd_car_compressor-removebg-preview.png" alt="">
                        </div>
                    </div>



                    <!-- <div class="dropdown-content ">
                        <a href="/products#compressors" class="btm">Compressors</a>
                        <a href="/products#evaporators" class="btm">Evaporators</a>
                        <a href="/products#condensers" class="btm">Condensers</a>
                        <a href="/products#vehicle-gas" class="btm">Vehicle-Gas</a>
                        <a href="/products#vehicle-driers" class="btm">Vehicle-Driers</a>
                        <a href="/products#vehicle-oil" class="btm">Vehicle-Oil </a>
 -->



                    <div class="p-title">
                        <h2>Products</h2>
                        <ul class="services-list">

                            <li class="list-items" data-aos="fade-left" data-aos-delay="300">
                                <button class="btm"> <a href="/products#compressors">Compressors</a></button>
                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="400">
                                <button class="btm"> <a href="/products#evaporators">Evaporators</a></button>

                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="500">
                                <button class="btm"> <a href="/products#condensers">Condensers</a></button>

                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="500">
                                <button class="btm"> <a href="/products#vehicle-gas">Vehicle Gas</a></button>

                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="700">
                                <button class="btm"> <a href="/products#vehicle-driers">Vehicle-Driers</a></button>

                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="600">
                                <button class="btm"> <a href="/products#vehicle-oil">Vehicle Oil</a></button>

                            </li>
          
                        </ul>

                    </div>
                </div>

                <div class="p-content" data-aos="zoom-in" data-aos-delay="200">
                    <div class="p-image">
                        <div>
                            <img class="img" src="images/hd.jpg.webp" alt="">
                        </div>
                    </div>
                    <div class="p-title">
                        <h2>Services</h2>
                        <ul class="services-list">

                            <li class="list-items" data-aos="fade-left" data-aos-delay="300">
                                <button class="btm"> <a href="#">Compressor Repair/Installation</a></button>
                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="400">
                                <button class="btm"> <a href="#">Condenser Repair/Installation</a></button>

                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="500">
                                <button class="btm"> <a href="#">Evaporator Repair/Intallation</a></button>

                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="600">
                                <button class="btm"> <a href="#">Oil Port Servicing/Refill</a></button>

                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="700">
                                <button class="btm"> <a href="#">Gas port servicing/Refill</a></button>

                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="800">
                                <button class="btm"><a href="#">Driers servicing</a></button>
                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="800">
                                <button class="btm"><a href="#">Lossing Of Dash Board</a></button>
                            </li>
                        </ul>

                    </div>

                </div>


                <div class="p-content" data-aos="zoom-in" data-aos-delay="200">
                    <div class="p-image">
                        <div>
                            <img src="/images/product images/car-AC-gas/alaska car ac gas.jpeg" alt="">
                        </div>
                    </div>

                    <div class="p-title1">
                        <h2>Goals</h2>


                        <div class="goals">
                            <div class="goals-icons">
                                <i class="fa-solid fa-check fa-xl"></i>
                            </div>
                            <div class="goal-content">
                                <p>
                                    Hold each member accountable for result, with a clear understanding that ethical
                                    standards must NEVER be compromised
                                </p>


                            </div>
                        </div>
                        <div class="goals">
                            <div class="goals-icons">
                                <i class="fa-solid fa-check fa-xl"></i>
                            </div>
                            <div class="goal-content">
                                <p>
                                    Listen to our people who do the work
                                </p>


                            </div>
                        </div>
                        <div class="goals">
                            <div class="goals-icons">
                                <i class="fa-solid fa-check fa-xl"></i>
                            </div>
                            <div class="goal-content">
                                <p>
                                    Listen to our customers and exceed their expectations with every opportunity
                                </p>


                            </div>
                        </div>
                        <div class="goals">
                            <div class="goals-icons">
                                <i class="fa-solid fa-check fa-xl"></i>
                            </div>
                            <div class="goal-content">
                                <p>
                                    Have the attitude: "one for all and all for one", encourage and support like family
                                </p>


                            </div>
                        </div>
                        <div class="goals">
                            <div class="goals-icons">
                                <i class="fa-solid fa-check fa-xl"></i>
                            </div>
                            <div class="goal-content">
                                <p>
                                    Always professional, courteous, understanding, eager, and enthusiastic
                                </p>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <aside class="side-bar">
                <div class="category">
                    <h2 class="">Category</h2>
                    <ul class="category-list">
                        <li class="list-items">

                            <div class="dropdown">
                                <button class="btm"><a>Brand New</a></button>
                                <div class="dropdown-content ">
                                    <a href="/products#compressors" class="btm">Compressors</a>
                                    <a href="/products#evaporators" class="btm">Evaporators</a>
                                    <a href="/products#condensers" class="btm">Condensers</a>
                                    <a href="/products#vehicle-gas" class="btm">Vehicle-Gas</a>
                                    <a href="/products#vehicle-driers" class="btm">Vehicle-Driers</a>
                                    <a href="/products#vehicle-oil" class="btm">Vehicle-Oil </a>
    
                                </div>
                            </div>

                        </li>
                        <li class="list-items">

                            <div class="dropdown">
                                <button class="btm"><a>Direct Belgium</a></button>
                                <div class="dropdown-content ">
                                    <a href="/products#compressors" class="btm">Compressors</a>
                                    <a href="/products#evaporators" class="btm">Evaporators</a>
                                    <a href="/products#condensers" class="btm">Condensers</a>
                                    <a href="/products#vehicle-gas" class="btm">Vehicle-Gas</a>
                                    <a href="/products#vehicle-driers" class="btm">Vehicle-Driers</a>
                                    <a href="/products#vehicle-oil" class="btm">Vehicle-Oil </a>
    
                                </div>
                            </div>

                        </li>
                        <li class="list-items">

                            <div class="dropdown">
                                <button class="btm"><a>Fairly Used</a></button>
                                <div class="dropdown-content ">
                                    <a href="/products#compressors" class="btm">Compressors</a>
                                    <a href="/products#evaporators" class="btm">Evaporators</a>
                                    <a href="/products#condensers" class="btm">Condensers</a>
                                    <a href="/products#vehicle-gas" class="btm">Vehicle-Gas</a>
                                    <a href="/products#vehicle-driers" class="btm">Vehicle-Driers</a>
                                    <a href="/products#vehicle-oil" class="btm">Vehicle-Oil </a>
    
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="our-mission">

                    <div class="p-content" data-aos="flip-up" data-aos-delay="300">
                        <div class="p-image">
                            <div>
                                <img class="img" src="/images/product images/car-AC-oil/ND Oil8.jpeg" alt="">
                            </div>
                        </div>
                        <div class="p-title">
                            <h2>Our Mission</h2>
                            <p>
                                To deliver superior heating and cooling services with an unmatched client experience,
                                resulting in the highest levels of respect from our community and a rewarding
                                environment for our employees to succeed. Never accepting past performance as good
                                enough: but continuing tp strive for new levels of excellence.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="our-vision">

                    <div class="p-content" data-aos="flip-up" data-aos-delay="400">
                        <div class="p-image">
                            <div>
                                <img class="img" src="/images/product images/compressors/hilux compressor.jpeg" alt="">
                            </div>
                        </div>
                        <div class="p-title">
                            <h2>Our vision</h2>
                            <p>G. A. Eneh Enterprise strives to be the premier car AC. product and services provider,
                                setting high unmatched standards for all product and services provided.
                                Providing quality, value, and customer satisfaction.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="our-vision">

                    <div class="p-content" data-aos="flip-up" data-aos-delay="400">
                        <div class="p-image">
                            <div>
                                <img class="img" src="/images/product images/evaporators/LEXUS RX350, is250 2006-2015 evaporator.jpeg" alt="">
                            </div>
                        </div>
                        <div class="p-title">
                            <h2>Values</h2>
                            <p>Family owned and operated, always maintain our ethical standaeds with customers,
                                suppliers, and employees; and and always do the Right Thing.
                            </p>
                        </div>
                    </div>
                </div>
               

            </aside>
            <!-- <div class="pagination flex-row">
                <a ><i class="fa-solid fa-chevron-left"></i></a>
                <a href="#" class="pages">1</a>
                <a href="#" class="pages">2</a>
                <a href="#" class="pages">3</a>
                <a ><i class="fa-solid fa-chevron-right"></i></a>
            </div> -->
           


    </section>

    <div class=" info">

        <div class="" data-aos="flip-up" data-aos-delay="400">
            <div class="p-image">
                <div>
                    <img class="img" src="images/hd_car_compressor-removebg-preview.png" alt="">
                </div>
            </div>
            <div class="info-content">
                <h2>Free Estimates</h2>
                <p>We offer free estimates on all installations and replacements and even provides financing options that will fit with your budget.
                </p>
            </div>
            <hr>
            <div class="info-content">
                <h2>Family Owned & Operated</h2>
                <p>Family-Owned and operated since year 2000, we continue to serve custormers in the best way possible. Exceeding your expectations is our goal!
                </p>
            </div>
            <hr>
            <div class="info-content">
                <h2>Trusted Technicians</h2>
                <p>The specialists at G. A. Eneh Enterprise has a high set of standards ranging from background checks, factory trained etc. all has been tested over time by out customers.
                </p>
            </div>
            <hr>
            <div class="info-content">
                <h2>24/7 same Rate</h2>
                <p>Your safety and comfort is our top priority. That's why our indoor comfort pros are available for emergency service 24/7 with no overtime rates!
                </p>
            </div>
            <hr>
            <div class="info-content">
                <h2>Surrounding Areas We Serve</h2>
                <p>G. A. Eneh Enterprise is based in Enugu but our products and services can be accessed all round south-east Nigeria.
                </p>
            </div>
            <hr>
        </div>
    </div>

</div>

    <!------------------x------------------ ps content-------------x--------------------------->


    </main>

    <!-------x---------- Main site Section ---------------x------------------->

    <%- include("partials/footer"); -%>