<%- include("partials/header"); -%>


    <!------------ first slider --------------------------------->
    <!-- 
    <div class="container-fluid p-0">
        <div class="site-slider">
            <div class="slider-one">
                <div class="slider-img">
                    <img src="/images/hd_img_1-removebg-preview.png" class="img-fluid p-0" alt="">
                </div>
                <div>
                    <img src="/images/hd car compressor.jpg" class="img-fluid p-0" alt="">
                </div>
                <div>
                    <img src="/images/images 17.jpg" class="img-fluid p-0" alt="">
                </div>
                <div>
                    <img src="/images/hd car compressor.jpg" class="img-fluid p-0" alt="">
                </div>
            </div>

            <div class="slider-btn">
                <span class="prev position-top "><i class="fa-solid fa-chevron-left"></i></span>
                <span class="next position-top right-0"><i class="fa-solid fa-chevron-right"></i></span>

            </div>


        </div>
    </div> -->
    <!-----x------- first slider --------x------------------------->

    <!------------ second slider --------------------------------->

    <div class="container-fluid p-0">
        <em>
            <h2 class="product-heading" ><a id="compressors">COMPRESSORS</a></h2>
        </em>
        <div class="site-slider-two px-md-4">
            <div class="row slider-two text-center">
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/compressors/2014 Mercedes C300 Compressor.jpeg" alt="2014 Mercedes C300 Compressor">
                    <span class="border site-btn btn-span"> 2014 Mercedes C300 Compressor</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/compressors/COROLLA COMPRESSOR 2015.jpeg" alt="COROLLA COMPRESSOR 2015">
                    <span class="border site-btn btn-span">COROLLA COMPRESSOR 2015</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/compressors/automatic mecerdis compressor.png" alt="automatic mecerdis compressor">
                    <span class="border site-btn btn-span">automatic mecerdis compressor</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/compressors/hilux compressor.jpeg" alt="hilux compressor">
                    <span class="border site-btn btn-span">hilux compressor</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/compressors/LEXUS ES300, HIGHLANDER 2005.jpeg" alt="LEXUS ES300, HIGHLANDER 2005">
                    <span class="border site-btn btn-span">LEXUS ES300, HIGHLANDER 2005</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/compressors/lexus ES350 COMPRESSOR.jpeg" alt="lexus ES350 COMPRESSOR">
                    <span class="border site-btn btn-span">lexus ES350 COMPRESSOR</span>
                </div>
                <!-- <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/compressors/LEXUS RX270, RX350 COMPRESSOR.jpeg" alt="LEXUS RX270, RX350 COMPRESSOR">
                    <span class="border site-btn btn-span">LEXUS RX270, RX350 COMPRESSOR</span>
                </div> -->
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/compressors/mercedis compressor.jpg" alt="mercedis compressor">
                    <span class="border site-btn btn-span">mercedis compressor</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/compressors/Rang-Rover Compressor.jpeg" alt="Rang-Rover Compressor">
                    <span class="border site-btn btn-span">Rang-Rover Compressor</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/compressors/Range Rover, Land Rover EV. Compressor.jpeg" alt="Range Rover, Land Rover EV. Compressor">
                    <span class="border site-btn btn-span">Land Rover EV. Compressor</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/compressors/universal compressor.jpeg" alt="universal compressor">
                    <span class="border site-btn btn-span">universal compressor</span>
                </div>

            </div>
            <div class="slider-btn">
                <span class="prev position-top "><i class="fa-solid fa-chevron-left"></i></span>
                <span class="next position-top right-0"><i class="fa-solid fa-chevron-right "></i></span>

            </div>
        </div>
    </div>

<hr>

    <!-----x------- second slider --------x------------------------->


    <!------------ third slider --------------------------------->

    <div class="container-fluid p-0">
        <em>
            <h2 class="product-heading" id="evaporators">EVAPORATORS</h2>
        </em>
        <div class="site-slider-three px-md-4">
            <div class="row slider-three text-center">
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/evaporators/CAMRY 2.2 EVAPORATOR.jpeg" alt="CAMRY 2.2 EVAPORATOR">
                    <span class="border site-btn btn-span">CAMRY 2.2 EVAPORATOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/evaporators/CAMRY 2.7 EVAPORATOR.jpeg" alt="CAMRY 2.7 EVAPORATOR">
                    <span class="border site-btn btn-span">CAMRY 2.7 EVAPORATOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/evaporators/KIA cerato-2010 evaporator.jpeg" alt="KIA cerato-2010 evaporator">
                    <span class="border site-btn btn-span">KIA cerato-2010 evaporator</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/evaporators/LEXUS RX350, is250 2006-2015 evaporator.jpeg" alt="">
                    <span class="border site-btn btn-span">LEXUS RX350, is250 2006-2015</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/evaporators/Lexus-RX300-AC-Evaporator.webp" alt="Lexus-RX300-AC-Evaporator">
                    <span class="border site-btn btn-span">Lexus-RX300-AC-Evaporator</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/evaporators/toyota corolla ac evaporator.jpg" alt="toyota corolla ac evaporator">
                    <span class="border site-btn btn-span">toyota corolla ac evaporator</span>
                </div>
                <!-- <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 13.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 12.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 11.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 10.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div> -->
            </div>
            <div class="slider-btn">
                <span class="prev position-top "><i class="fa-solid fa-chevron-left"></i></span>
                <span class="next position-top right-0"><i class="fa-solid fa-chevron-right "></i></span>

            </div>
        </div>
    </div>
    <hr>


    <!-----x------- third slider --------x------------------------->


    <!------------ forth slider --------------------------------->

    <div class="container-fluid p-0">
        <em>
            <h2 class="product-heading" id="condensers">CONDENSERS</h2>
        </em>
        <div class="site-slider-four px-md-4">
            <div class="row slider-four text-center">
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/condensers/2006-2015 COROLLA CONDENSER.jpeg" alt="2006-2015 COROLLA CONDENSER">
                    <span class="border site-btn btn-span">2006-2015 COROLLA CONDENSER</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/condensers/2010 Mercedes condenser.jpeg" alt="2010 Mercedes condenser">
                    <span class="border site-btn btn-span">2010 Mercedes condenser</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/condensers/203 Mersedes condenser.jpeg" alt="203 Mersedes condenser">
                    <span class="border site-btn btn-span">203 Mersedes condenser</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/condensers/AC CONDENSER FOR HYUNDAI.jpeg" alt="AC CONDENSER FOR HYUNDAI">
                    <span class="border site-btn btn-span">AC CONDENSER FOR HYUNDAI</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/condensers/C300 Mercedes condenser.jpeg" alt="C300 Mercedes condenser">
                    <span class="border site-btn btn-span">C300 Mercedes condenser</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/condensers/RX 350 CONDENSER.jpeg" alt="RX 350 CONDENSER">
                    <span class="border site-btn btn-span">RX 350 CONDENSER</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/condensers/Toyota Tacoma Condenser.jpeg" alt="Toyota Tacoma Condenser">
                    <span class="border site-btn btn-span">Toyota Tacoma Condenser</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/condensers/Toyoto Corolla Condenser 2005.jpeg" alt="Toyoto Corolla Condenser 2005">
                    <span class="border site-btn btn-span">Toyoto Corolla Condenser 2005</span>
                </div>
                <!-- <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 11.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 10.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div> -->
            </div>
            <div class="slider-btn">
                <span class="prev position-top "><i class="fa-solid fa-chevron-left"></i></span>
                <span class="next position-top right-0"><i class="fa-solid fa-chevron-right "></i></span>

            </div>
        </div>
    </div>
    <hr>


    <!-----x------- forth slider --------x------------------------->


    <!------------ fifth slider --------------------------------->

    <div class="container-fluid p-0">
        <em>
            <h2 class="product-heading" id="vehicle-gas">VEHICLE-GAS</h2>
        </em>
        <div class="site-slider-five px-md-4">
            <div class="row slider-five text-center">
                <!-- <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/car-AC-gas/alaska car ac gas.jpeg" alt="alaska car ac gas">
                    <span class="border site-btn btn-span">alaska car ac gas</span>
                </div> -->
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/car-AC-gas/HARP GAS.jpeg" alt="HARP GAS">
                    <span class="border site-btn btn-span">HARP GAS</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/car-AC-gas/r1234y ac gas.jpeg" alt="r1234y ac gas">
                    <span class="border site-btn btn-span">r1234y ac gas</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/car-AC-gas/r1234yf gas.jpeg" alt="r1234yf gas">
                    <span class="border site-btn btn-span">r1234yf gas</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/car-AC-gas/R134 GAS.jpeg" alt="R134 GAS">
                    <span class="border site-btn btn-span">R134 GAS</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/car-AC-gas/super tech gas.jpeg" alt="super tech gas">
                    <span class="border site-btn btn-span">super tech gas</span>
                </div>
                <!-- <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/public/images/product images/car-AC-gas/" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 12.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 11.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 10.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div> -->
            </div>
            <div class="slider-btn">
                <span class="prev position-top "><i class="fa-solid fa-chevron-left"></i></span>
                <span class="next position-top right-0"><i class="fa-solid fa-chevron-right "></i></span>

            </div>
        </div>
    </div>

    <hr>

    <!-----x------- fifth slider --------x------------------------->


    <!------------ sixth slider --------------------------------->

    <div class="container-fluid p-0">
        <em>
            <h2 class="product-heading" id="vehicle-driers">VEHICLE-DRIERS</h2>
        </em>
        <div class="site-slider-six px-md-4">
            <div class="row slider-six text-center">
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/vehicle-driers/AC Drier For Honda.jpeg" alt="AC Drier For Honda">
                    <span class="border site-btn btn-span">AC Drier For Honda</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/vehicle-driers/AC Drier.jpeg" alt="AC Drier">
                    <span class="border site-btn btn-span">AC Drier</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/vehicle-driers/AC Receiver Drier.jpeg" alt="AC Receiver Drier">
                    <span class="border site-btn btn-span">AC Receiver Drier</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/vehicle-driers/C300 Drier.jpeg" alt="C300 Drier">
                    <span class="border site-btn btn-span">C300 Drier</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/vehicle-driers/Camry 2.2 AC Drier.jpeg" alt="Camry 2.2 AC Drier">
                    <span class="border site-btn btn-span">Camry 2.2 AC Drier</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/vehicle-driers/Silica Drier.jpeg" alt="Silica Drier">
                    <span class="border site-btn btn-span">Silica Drier</span>
                </div>
                <!-- <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 13.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 12.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 11.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 10.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div> -->
            </div>
            <div class="slider-btn">
                <span class="prev position-top "><i class="fa-solid fa-chevron-left"></i></span>
                <span class="next position-top right-0"><i class="fa-solid fa-chevron-right "></i></span>

            </div>
        </div>
    </div>
    <hr>


    <!-----x------- sixth slider --------x------------------------->


    <!------------ seventh slider --------------------------------->

    <div class="container-fluid p-0">
        <em>
            <h2 class="product-heading" id="vehicle-oil">VEHICLE-OIL</h2>
        </em>
        <div class="site-slider-seven px-md-4">
            <div class="row slider-seven text-center">
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/car-AC-oil/freeze oil.jpg" alt="freeze oil">
                    <span class="border site-btn btn-span">freeze oil</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/car-AC-oil/frozen rik oil.jpeg" alt="frozen rik oil">
                    <span class="border site-btn btn-span">frozen rik oil</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/car-AC-oil/ND Oil8.jpeg" alt="ND Oil8">
                    <span class="border site-btn btn-span">ND Oil8</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/car-AC-oil/ND Oil9.jpeg" alt="ND Oil9">
                    <span class="border site-btn btn-span">ND Oil9</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/car-AC-oil/pag oil r134a.jpg" alt="pag oil r134a">
                    <span class="border site-btn btn-span">pag oil r134a</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/product images/car-AC-oil/pag oil.jpeg" alt="pag oil">
                    <span class="border site-btn btn-span">pag oil</span>
                </div>
                <!-- <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 13.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 12.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 11.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 10.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div> -->
            </div>
            <div class="slider-btn">
                <span class="prev position-top "><i class="fa-solid fa-chevron-left"></i></span>
                <span class="next position-top right-0"><i class="fa-solid fa-chevron-right "></i></span>

            </div>
        </div>
    </div>
    <hr>


    <!-----x------- seven slider --------x------------------------->

  

    <%- include("partials/footer"); -%>