<%- include("partials/header"); -%>


    <!------------ first slider --------------------------------->
    <!-- 
    <div class="container-fluid p-0">
        <div class="site-slider">
            <div class="slider-one">
                <div class="slider-img">
                    <img src="/images/hd_img_1-removebg-preview.png" class="img-fluid p-0" alt="">
                </div>
                <div>
                    <img src="/images/hd car compressor.jpg" class="img-fluid p-0" alt="">
                </div>
                <div>
                    <img src="/images/images 17.jpg" class="img-fluid p-0" alt="">
                </div>
                <div>
                    <img src="/images/hd car compressor.jpg" class="img-fluid p-0" alt="">
                </div>
            </div>

            <div class="slider-btn">
                <span class="prev position-top "><i class="fa-solid fa-chevron-left"></i></span>
                <span class="next position-top right-0"><i class="fa-solid fa-chevron-right"></i></span>

            </div>


        </div>
    </div> -->
    <!-----x------- first slider --------x------------------------->

    <!------------ second slider --------------------------------->

    <div class="container-fluid p-0">
        <em>
            <h2 class="product-heading" ><a id="compressors">COMPRESSORS</a></h2>
        </em>
        <div class="site-slider-two px-md-4">
            <div class="row slider-two text-center">
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 18.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 19.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 17.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 16.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 15.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 14.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 13.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 12.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 11.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 10.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
            </div>
            <div class="slider-btn">
                <span class="prev position-top "><i class="fa-solid fa-chevron-left"></i></span>
                <span class="next position-top right-0"><i class="fa-solid fa-chevron-right "></i></span>

            </div>
        </div>
    </div>



    <!-----x------- second slider --------x------------------------->


    <!------------ third slider --------------------------------->

    <div class="container-fluid p-0">
        <em>
            <h2 class="product-heading" id="evaporators">EVAPORATORS</h2>
        </em>
        <div class="site-slider-three px-md-4">
            <div class="row slider-three text-center">
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 18.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 19.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 17.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 16.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 15.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 14.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 13.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 12.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 11.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 10.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
            </div>
            <div class="slider-btn">
                <span class="prev position-top "><i class="fa-solid fa-chevron-left"></i></span>
                <span class="next position-top right-0"><i class="fa-solid fa-chevron-right "></i></span>

            </div>
        </div>
    </div>



    <!-----x------- third slider --------x------------------------->


    <!------------ forth slider --------------------------------->

    <div class="container-fluid p-0">
        <em>
            <h2 class="product-heading" id="condensers">CONDENSERS</h2>
        </em>
        <div class="site-slider-four px-md-4">
            <div class="row slider-four text-center">
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 18.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 19.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 17.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 16.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 15.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 14.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 13.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 12.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 11.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 10.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
            </div>
            <div class="slider-btn">
                <span class="prev position-top "><i class="fa-solid fa-chevron-left"></i></span>
                <span class="next position-top right-0"><i class="fa-solid fa-chevron-right "></i></span>

            </div>
        </div>
    </div>



    <!-----x------- forth slider --------x------------------------->


    <!------------ fifth slider --------------------------------->

    <div class="container-fluid p-0">
        <em>
            <h2 class="product-heading" id="vehicle-gas">VEHICLE-GAS</h2>
        </em>
        <div class="site-slider-five px-md-4">
            <div class="row slider-five text-center">
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 18.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 19.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 17.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 16.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 15.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 14.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 13.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 12.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 11.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 10.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
            </div>
            <div class="slider-btn">
                <span class="prev position-top "><i class="fa-solid fa-chevron-left"></i></span>
                <span class="next position-top right-0"><i class="fa-solid fa-chevron-right "></i></span>

            </div>
        </div>
    </div>



    <!-----x------- fifth slider --------x------------------------->


    <!------------ sixth slider --------------------------------->

    <div class="container-fluid p-0">
        <em>
            <h2 class="product-heading" id="vehicle-driers">VEHICLE-DRIERS</h2>
        </em>
        <div class="site-slider-six px-md-4">
            <div class="row slider-six text-center">
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 18.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 19.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 17.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 16.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 15.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 14.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 13.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 12.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 11.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 10.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
            </div>
            <div class="slider-btn">
                <span class="prev position-top "><i class="fa-solid fa-chevron-left"></i></span>
                <span class="next position-top right-0"><i class="fa-solid fa-chevron-right "></i></span>

            </div>
        </div>
    </div>



    <!-----x------- sixth slider --------x------------------------->


    <!------------ seventh slider --------------------------------->

    <div class="container-fluid p-0">
        <em>
            <h2 class="product-heading" id="vehicle-oil">VEHICLE-OIL</h2>
        </em>
        <div class="site-slider-seven px-md-4">
            <div class="row slider-seven text-center">
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 18.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 19.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 17.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 16.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 15.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 14.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 13.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 12.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 11.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
                <div class="col-md-2 product pt-md-5 pt-4">
                    <img src="/images/images 10.jpg" alt="">
                    <span class="border site-btn btn-span">NIKE COMPRESSOR</span>
                </div>
            </div>
            <div class="slider-btn">
                <span class="prev position-top "><i class="fa-solid fa-chevron-left"></i></span>
                <span class="next position-top right-0"><i class="fa-solid fa-chevron-right "></i></span>

            </div>
        </div>
    </div>



    <!-----x------- seven slider --------x------------------------->

  

    <%- include("partials/footer"); -%>